## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(101),80)
print(len(sample_list_1))
print(sample_list_1)

80
[17, 57, 13, 87, 86, 30, 85, 15, 93, 72, 68, 60, 89, 94, 4, 34, 33, 43, 48, 83, 20, 54, 95, 47, 50, 49, 10, 59, 3, 91, 79, 78, 40, 46, 73, 53, 12, 52, 71, 35, 58, 21, 44, 1, 14, 74, 41, 27, 64, 19, 88, 26, 81, 97, 45, 0, 51, 36, 82, 96, 55, 56, 62, 67, 22, 66, 11, 32, 99, 23, 6, 69, 63, 29, 28, 61, 37, 98, 75, 70]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[random.randrange(101) for x in range(80)]
print(len(sample_list_2))
print(sample_list_2)

80
[28, 38, 27, 48, 89, 93, 43, 53, 33, 82, 95, 42, 43, 56, 17, 67, 1, 80, 5, 60, 6, 6, 55, 38, 19, 72, 90, 62, 1, 21, 80, 82, 65, 79, 82, 80, 11, 56, 16, 93, 40, 1, 5, 95, 7, 57, 25, 74, 66, 28, 22, 9, 93, 36, 43, 0, 12, 36, 82, 4, 6, 70, 82, 74, 69, 30, 49, 90, 6, 58, 93, 41, 96, 76, 94, 44, 17, 84, 42, 20]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print(len(set2))
#Is its length still 80? no, it isnt, because

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3=set([x for x in set1 if x not in set2])
#version 2
set3=set1-set2
print(set3)
len(set3)

{3, 10, 13, 14, 15, 23, 26, 29, 32, 34, 35, 37, 45, 46, 47, 50, 51, 52, 54, 59, 61, 63, 64, 68, 71, 73, 75, 78, 81, 83, 85, 86, 87, 88, 91, 97, 98, 99}

38

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4=set([x for x in set2 if x not in set1])
#version 2
set4=set2-set1
print(set4)
len(set4)

{65, 5, 38, 7, 9, 42, 76, 16, 80, 84, 25, 90}

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5=set2.intersection(set1)
print(set5)
len(set5)

{0, 1, 4, 6, 11, 12, 17, 19, 20, 21, 22, 27, 28, 30, 33, 36, 40, 41, 43, 44, 48, 49, 53, 55, 56, 57, 58, 60, 62, 66, 67, 69, 70, 72, 74, 79, 82, 89, 93, 94, 95, 96}

42

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
# Your code here

#    Each value is an integer falling between 0 and 100.
#   Each value in the list is unique.
print(len(set1)) 

#    Each value is an integer falling between 0 and 100.
#    The values in the list don't have to be unique.
#    Delete the repetiton's integers.
print(len(set2)) 

# Identify the elements present in set1 but not in set2
print(len(set3))

# Identify the elements present in set2 but not in set1
print(len(set4))

# Now Identify the elements shared between set1 and set2
print(len(set5))

#solution
print(len(set1)==len(set3) + len(set5))
print(len(set2)==len(set4) + len(set5))
print(len(set1)+len(set2)==len(set3) + len(set4) + len(set5)*2)

80
54
38
12
42
True
True
True

#### Create an empty set called `set6`.

In [12]:
# Your code here
set6 =set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here
set6.update(set5,set3)
len(set6)

80

#### Check if `set1` and `set6` are equal.

In [14]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [20]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
# Your code here
set3.union(set4,set5)==set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
# Your code here
print(len(set1))
set1.pop()
print(len(set1))

80
79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [23]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(len(set1))
print(set1)
set99=set1
for x in list_to_remove:
    set99.discard(x)
print(len(set99))
print(set99)

79
{1, 3, 4, 6, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 81, 82, 83, 85, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99}
62
{3, 4, 6, 10, 12, 13, 14, 15, 17, 20, 22, 23, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 78, 82, 83, 85, 86, 87, 88, 93, 94, 95, 96, 97, 98}