# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import reduce from functools, numpy and pandas
from functools import reduce
import pandas as pd
import numpy as np

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [25]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 


Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [26]:
# your code here
print(prophet[568])
prophet= [ prophet[x] for x in range(len(prophet)) if x>567]
print(prophet[0])

PROPHET

|Almustafa,
PROPHET

|Almustafa,

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [31]:
# your code here
print(prophet[:9])

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [58]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    split=x.split('{')
        
    return split[0]


    # your code here

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [61]:
# your code here
prophet_reference= list(map(reference, prophet))
print(prophet_reference[:9])

['PROPHET\n\n|Almustafa,', 'the', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn']

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [63]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    return x.split('\n')
    
    
    # your code here

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [64]:
# your code here
prophet_line= list(map(line_break, prophet_reference))
print(prophet_line[:9])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn']]

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [69]:
# your code here
prophet_flat=[y for x in prophet_line for y in x]
print(prophet_flat[:9])

#to erase the spaces
prophet_flat=[x for x in prophet_flat if x]
print(prophet_flat[:9])

['PROPHET', '', '|Almustafa,', 'the', 'chosen', 'and', 'the', 'beloved,', 'who']
['PROPHET', '|Almustafa,', 'the', 'chosen', 'and', 'the', 'beloved,', 'who', 'was']

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [72]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    if x in word_list:
        return False
    else:
        return True

In [73]:
prophet_filter=list(filter(word_filter,prophet_flat))
print(prophet_filter[:9])

['PROPHET', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his']

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [90]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    if x.lower() in word_list:
        return False
    else:
        return True
    # your code here

In [91]:
h=[pos for pos,value in enumerate(prophet_filter) if value == 'The']
print(h)

[216, 1792, 2122, 3135, 4408, 4425, 5936, 6026, 6038, 6080, 6128, 6146, 6570, 8072, 8112, 8473, 8496, 8556, 8695, 9174, 9322, 10390, 10497, 10539, 10684, 10832, 11324, 11475, 11542, 11570, 12100, 12340, 12619, 12781, 13020, 13047, 13078, 13222]

In [92]:

print(prophet_filter[212:220])

['I', 'cannot', 'tarry', 'longer.', 'The', 'sea', 'that', 'calls']

In [93]:
prophet_filter_sensitive=list(filter(word_filter_case,prophet_flat))
print(prophet_filter_sensitive[212:220])

['tarry', 'longer.', 'sea', 'that', 'calls', 'all', 'things', 'unto']

In [95]:
#to check
h=[pos for pos,value in enumerate(prophet_filter_sensitive) if value == 'The']
print(h)

[]

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [97]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    return a + ' ' + b
    
    # your code here

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [100]:
# your code here
prophet_string = reduce(concat_space,prophet_filter)
prophet_string[50:180]

'nto his own day, had waited twelve years in city of Orphalese for his ship that was to return bear him back to isle of his birth. '

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [4]:
# your code here
path='/home/carpiero/test/data/PRSA_data_2010.1.1-2014.12.31.csv'
df= pd.read_csv(f'{path}',low_memory=False)

Let's look at the data using the `head()` function.

In [11]:
# your code here
print(df.info())
print(df.columns)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   year    43824 non-null  int64
 2   month   43824 non-null  int64
 3   day     43824 non-null  int64
 4   hour    43824 non-null  int64
 5   pm2.5   41757 non-null  float64
 6   DEWP    43824 non-null  int64
 7   TEMP    43824 non-null  float64
 8   PRES    43824 non-null  float64
 9   cbwd    43824 non-null  object
 10  Iws     43824 non-null  float64
 11  Is      43824 non-null  int64
 12  Ir      43824 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB
None
Index(['No', 'year', 'month', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES',
       'cbwd', 'Iws', 'Is', 'Ir'],
      dtype='object')

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [23]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    return x/24
    # your code here

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [18]:
# your code here
print(df[['Iws','Is','Ir']].describe().T)
df[['Iws','Is','Ir']]= df[['Iws','Is','Ir']].apply(hourly)
print(df[['Iws','Is','Ir']].describe().T)

       count       mean        std   min   25%   50%    75%    max
Iws  43824.0  23.889140  50.010635  0.45  1.79  5.37  21.91  585.6
Is   43824.0   0.052734   0.760375  0.00  0.00  0.00   0.00   27.0
Ir   43824.0   0.194916   1.415867  0.00  0.00  0.00   0.00   36.0
       count      mean       std      min       25%      50%       75%     max
Iws  43824.0  0.995381  2.083776  0.01875  0.074583  0.22375  0.912917  24.400
Is   43824.0  0.002197  0.031682  0.00000  0.000000  0.00000  0.000000   1.125
Ir   43824.0  0.008122  0.058994  0.00000  0.000000  0.00000  0.000000   1.500

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [103]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
       
    return np.std(x)/(x.count()-1)     
    
   
    
    
    # your code here

In [118]:
df[['Iws','Is','Ir']].apply(sample_sd)

Iws    4.754929e-05
Is     7.229519e-07
Ir     1.346183e-06
dtype: float64