# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [6]:
# Your code here:

df= pd.read_excel('Confidence intervals.xlsx')
df

,X,173.466666,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,z,1.282000,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sigma,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,muestra,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500,4.000000,NaN,NaN
4,172.143,174.790710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.576,0.194099,20.608000,424.689664
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,n,105.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,X,0.257143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.100,NaN,NaN,NaN
8,z,1.645000,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.282,0.078003,0.006084,NaN
9,SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,0.257143,NaN,NaN,0.19102,31.394663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,0.742857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,0.042653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0.186979,0.327306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,18.6979,32.730634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,confidence of two samples,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,X,418.000000,NaN,NaN,NaN,NaN,NaN,Confidence,Significance,Critical Value,NaN,NaN,NaN,NaN
20,Y,402.000000,NaN,NaN,NaN,NaN,NaN,(1–α) g 100%,α,Zα/2,NaN,NaN,NaN,NaN
21,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,0.8,NaN,1.282,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,0.10,1645,NaN,NaN,NaN,NaN
23,STD X,26.000000,676.00,NaN,NaN,NaN,NaN,0.94,0.06,1881,NaN,NaN,NaN,NaN
24,STD Y,22.000000,484.00,NaN,NaN,NaN,NaN,0.95,0.05,1960,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.98,0.02,2326,NaN,NaN,NaN,NaN
26,sample x,40.000000,NaN,NaN,NaN,NaN,NaN,0.99,0.01,2576,NaN,NaN,NaN,NaN
27,sample y,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,16.900000,NaN,NaN,NaN,NaN,NaN,0.90,1645,NaN,NaN,NaN,NaN,NaN
30,NaN,9.680000,NaN,NaN,NaN,NaN,NaN,0.91,1.70,NaN,NaN,NaN,NaN,NaN
31,NaN,26.580000,NaN,NaN,NaN,NaN,NaN,0.92,1.75,NaN,NaN,NaN,NaN,NaN
32,NaN,5.155580,NaN,NaN,NaN,NaN,NaN,0.93,1.81,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.94,1.88,NaN,NaN,NaN,NaN,NaN
34,z,1.881000,0.94,NaN,NaN,NaN,NaN,0.95,1.96,NaN,NaN,NaN,NaN,NaN
35,NaN,9.697645,NaN,NaN,NaN,NaN,NaN,0.96,2.05,NaN,NaN,NaN,NaN,NaN
36,NaN,25.697645,NaN,NaN,NaN,NaN,NaN,0.97,2.17,NaN,NaN,NaN,NaN,NaN
37,NaN,6.302355,NaN,NaN,NaN,NaN,NaN,0.98,2.33,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.99,2575,NaN,NaN,NaN,NaN,NaN

Examine the `salaries` dataset using the `head` function below.

In [2]:
# Your code here:

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [3]:
# Your code here:

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [4]:
# Your code here:

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [5]:
# Your code here:

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [6]:
# Your code here:

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: